@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles can be added here */
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
